body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 40px;
    color: #343a40;
}

h1 {
    
    font-size: 2.5em;
    margin-bottom: 30px;
}

h1,h2 {
    color: #0F4761;
}

#stats {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

#stats p {
    font-size: 1.2em;
    margin: 15px 0;
}

.alert {
    color: #dc3545;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 20px;
    display: none;
    padding: 10px;
    border: 1px solid #dc3545;
    background-color: #f8d7da;
    border-radius: 5px;
}