<!DOCTYPE html>
<html>
<head>
    <title>Rory's Packet Sniffer</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>
<body>
    <h1>Rory's Packet Sniffer</h1>

    <ul id="packets"></ul>

    <script>

        const socket = io();

        socket.on("connect", function() {
            console.log("Connected to SocketIO server");
        })

        socket.on("packet", function(data) {
            const li = document.createElement("li");
            li.textContent = data.summary;
            document.getElementById("packets").prepend(li);
        })

    </script>
</body>
</html>